<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Tab</title>

<link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" src="js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<h1>Tab</h1>

		<form class="form-group" action="/tab" th:action="@{/tab}" method="post">
		<input th:type="hidden" name="id" th:field="${tab.terminalId}" />
			
			<div class="form-group">
				<label for="title">Acquisition Date</label> <input type="text" class="form-control" id="title" th:field="${tab.acquisitionDate}" />
				<label for="title">Operational Date</label> <input type="text" class="form-control" id="title" th:field="${tab.operationalDate}" />
				<label for="title">Delivery Date</label> <input type="text" class="form-control" id="title" th:field="${tab.deliveryDate}" />
				<label for="title">Installation Date</label> <input type="text" class="form-control" id="title" th:field="${tab.installationDate}" />
				<label for="title">Date Pulled Out</label> <input type="text" class="form-control" id="title" th:field="${tab.date_pulled_out}" />
				<label for="title">Reason For Pull Out</label> <input type="text" class="form-control" id="title" th:field="${tab.reason_for_pull_out}" />
				<label for="title">Location After Pull Out</label> <input type="text" class="form-control" id="title" th:field="${tab.location_after_pull_out}" />
			</div>

	
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="#" th:href="@{/inventory}" class="btn btn-danger" role="button">Cancel</a>
		</form>

	</div>

</body>
</html>