<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAM DASHBOARD</title>

    <!--Lib css-->
    <link rel="stylesheet" href="src/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="src/dateranger/daterangepicker.css">
    <!--own css-->
    <link rel="stylesheet" href="css/style.css">

    <!--lib js-->
    <!--jquery js-->
    <script src="src/jquery.js"></script>
    <!--moment.js
    <script src="src/moment.js"></script>-->
    <!--daterangepicker js-->
    <script src="src/dateranger/moment.min.js"></script>
    <script src="src/dateranger/daterangepicker.js"></script>
    <!--fontawesome js-->
    <script src="src/fontawesome/js/all.min.js"></script>
    <!--bootstrap js-->
    <script src="src/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--d3(chart) js-->
    <script src="src/d3.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="rsc/mblogo.png" alt="" width="50" height="50">
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/">CAM DASHBOARD</a>
                </li>
            </ul>
            <!--End of nav.sidebar-->
        </nav>

        <!--Page content-->
        <div id="content">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
            </nav>

            <div class="container-fluid content-header">
                    <form class="form-inline">
                        <div class="form-row">
                            <div class="form-group">
                                <i class="fas fa-calendar calendar"></i>
                                <input type="text" id="daterange" class="form-control" style="cursor: pointer;">
                            </div>
                            <div class="form-group">
                                <select id="" class="form-control userChoice col-md-16">
                                    <option value = 0 selected>Summary</option>
                                    <option value = 1>Daily</option>
                                    <option value = 2>Weekly</option>
                                    <option value = 3>Monthly</option>
                                </select>
                            </div>
                        </div>
                    </form>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card shadow mb-4">
                            <h5 class="card-header">
                                Top Reason for downtime
                            </h5>
                            <div class="card-body">
                                <ul id="top5Downtime">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card shadow mb-4">
                            <h5 class="card-header">
                                Top Down Terminals:
                            </h5>
                            <div class="card-body">
                                <ol id="mostDown">

                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow mb-4">
                            <h5 class="card-header">
                                Top Up Terminals:
                            </h5>
                            <div class="card-body">
                                <ol id="mostUp">

                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of div.row-->

                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <div id="bar-chart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of div.row-->
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <div id="lineChart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card shadow mb-4">
                            <h5 class="card-header">
                                Pie Chart
                            </h5>
                            <div class="card-body">
                                <div id="pieChart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="card shadow mb-4">
                            <h5 class="card-header">
                                CAM Hotspot
                            </h5>
                            <div class="card-body">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END OF div.row-->
            </div>
            <!--End of div.content-->

        </div>
        <!--End of div.wrapper-->

        <!--Lib <script>-->


        <!--own <script>-->
        <script src="js/script.js"></script>
        <script src="js/datePicker.js"></script>
        <script src="js/sidebarScript.js"></script>


</body>

</html>